#honey{
    padding-top: 200px;
}

#honey > h1{
    font-size: 50pt;
    color: #d37b1c;
}

.honey__text{
    font-size: 18pt;
    color: #000000;
}

.honey__text-orange{
    color: #d37b1c;
}

#honey__honeycomb_container{
    position: relative;
}

/*BEGIN honeycombs*/
.honey__row:nth-child(even) > .honey__honeycomb:first-child{
    margin-left: 77px;
    top: -103px;
}

.honey__row:nth-child(even) > .honey__honeycomb{
    top: -46px;
}

.honey__row:nth-child(even) > .honey__honeycomb.honey__large{
    top: -60px;
}

.honey__row:nth-child(3) > .honey__honeycomb.honey__small{
    margin-left: 382px;
    top: -119px;
}

.honey__honeycomb{
    display: inline-block;
    position: relative;
    width: 150px;
    height: 86.60px;
    background-color: orange;
    margin: 43.30px 0;
    border-left: solid 5px black;
    border-right: solid 5px black;
    background-image: url("../images/honey_questionMark.png");
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.honey__large{
    width: 200px;
    height: 115.47px;
    margin: 57.74px 0;
    border-right: solid 5px black;
    border-left: solid 5px black;
}

.honey__small{
    width: 100px;
    height: 57.74px;
    margin: 28.87px 0;
    border-left: solid 5px black;
    border-right: solid 5px black;
    background-size: auto 70px;
}

.honey__honeycomb_top, .honey__honeycomb_bottom{
    position: absolute;
    z-index: 1;
    width: 106.07px;
    height: 106.07px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: orange;
    left: 16.97px;
}

.honey__honeycomb_top:after, .honey__honeycomb_top:after{
    content: "";
    position: absolute;
    width: 140.0000px;
    height: 80.82903768654762px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.honey__honeycomb_top{
    top: -53.0330px;
    border-top: solid 7.0711px black;
    border-right: solid 7.0711px black;
}

.honey__honeycomb_top:after{
    background-position: center top;
}

.honey__honeycomb_bottom{
    bottom: -53.0330px;
    border-bottom: solid 7.0711px black;
    border-left: solid 7.0711px black;
}

.honey__honeycomb_bottom:after{
    background-position: center bottom;
}

.honey__honeycomb:after{
    content: "";
    position: absolute;
    top: 2.8868px;
    left: 0;
    width: 140.0000px;
    height: 80.8290px;
    z-index: 2;
    background: inherit;
}

.honey__large > .honey__honeycomb_top, 
.honey__large > .honey__honeycomb_bottom{
    width: 141.42px;
    height: 141.42px;
    left: 24.29px;
}

.honey__large > .honey__honeycomb_top:after, 
.honey__large > .honey__honeycomb_bottom:after{
    width: 190px;
    height: 109.69655114602891px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
}

.honey__large > .honey__honeycomb_top{
    top: -70.7107px;
}

.honey__large > .honey__honeycomb_bottom{
    bottom: -70.7107px;
}

.honey__large:after{
    width: 190px;
    height: 109.6966px;
}

.honey__small > .honey__honeycomb_top,
.honey__small > .honey__honeycomb_bottom{
    width: 70.71px;
    height: 70.71px;
    left: 9.64px;
}

.honey__small > .honey__honeycomb_top:after,
.honey__small > .honey__honeycomb_bottom:after{
    width: 90px;
    height: 51.96152422706633px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
}

.honey__small > .honey__honeycomb_top{
    top: -35.3553px;
}

.honey__small > .honey__honeycomb_bottom{
    bottom: -35.3553px;
}

.honey__small:after{
    width: 90px;
    height: 51.9615px;
}
/*END honeycombs*/

.honey__img_honeycomb{
    
}

.honey__img_question{

}

.honey__img_bee{
    position: absolute;
    z-index: 10;
    height: 50px;
}

/*BEES*/
#honey__img_bee_1{
    top: -20px;
    left: 100px;
}

#honey__img_bee_2{
    height: 75px;
    top: -45px;
    left: 72%;
}

#honey__img_bee_3{
    top: -22px;
    left: -37px;
}

#honey__img_bee_4{
    right: -43px;
    top: 82%;
}
/*END BEES*/

/*CLICKME ARROW*/
#honey__img_clickme{
    position: absolute;
    top: -100px;
    left: 110px;
    height: 80%;
}
/*END CLICKME ARROW*/

/*HONEY FACTS*/
#honey__fact-container{
    position: fixed;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    /*background-color: rgba(255,255,255,0.5);*/
}

#honey__fact-container > p{
    top: -285px;
    position: relative;
    max-width: 380px;
    margin: 0 auto;
    z-index: 10;
}

.honey__fact{
    position: relative;
    width: 400px; 
    height: 230.94px;
    background-color: white;
    margin: 115.47px auto;
    border-left: solid 5px black;
    border-right: solid 5px black;
}

.honey__fact > button{
    position: absolute;
    bottom: -60px;
    left: 160px;
    z-index: 30;
}

.honey__fact:before,
.honey__fact:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 282.84px;
    height: 282.84px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 53.5786px;
}

.honey__fact:before {
    top: -141.4214px;
    border-top: solid 7.0711px black;
    border-right: solid 7.0711px black;
}

.honey__fact:after {
    bottom: -141.4214px;
    border-bottom: solid 7.0711px black;
    border-left: solid 7.0711px black;
}

#honey__fact-text{
    font-size: 15pt;
}
/*END HONEY FACTS*/