.infographic{
    position: relative;
}

.infographic__column{
    padding: 0;
}

.infographic__banner{
    position: absolute;
    top: 0;
    left: -14px;
    font-size: 13pt;
    z-index: 100;
    color: white;
    width: 40px;
    height: 400px;
    background-color: rgba(199,224,76, 0.7);
}

.infographic__banner > p{
    position: absolute;
    margin-left: 15px;
    bottom: 80px;
}

.infographic__banner span{
    display: block;
    transform: rotate(-90deg);
}

.infographic__banner img{
    position: absolute;
    bottom: 15px;
    width: 30pt;
    margin-top: 15px;
}

#infographic__header{
    padding-top: 30px;
    padding-bottom: 20px;
}

#infographic__header > h2{
    margin-top: 0;
}

#infographic__header > p{
    margin-bottom: 0;
}

.infographic__block{
    height: 400px;
    position: relative;
    background-size: cover;
}

.infographic__block > .infographic__block-content{
    padding: 50px;
    background:rgba(0,0,0,0.7);
    height: 100%;
    display: none;
    color: white;
}

.infographic__block:hover > .infographic__block-content{
    display: block;
}

/* #infographic__column-1 > .infographic__block:first-child{
    margin-bottom: 100px;
}

#infographic__column-2 > .infographic__block:first-child{
    height: 200px;
}

#infographic__column-3 > .infographic__block:first-child{
    margin-top: 125px;
    margin-bottom: 100px;
    height: 275px;
} */

/*MEDITATION*/

#meditation_timer > .infographic__banner{
    background-color: #6E58B1;
    width: 50pt;
    font-size: 30pt;
}

.meditation__block{
    height: 150px;
    /* outline: 1px solid black; */
    margin: 25px 0;
    background-color: lightgrey;
    color: #6E58B1;
}

.meditation__block-image{
    display: inline-block;
    float: left;
    /* outline: 1px solid black; */
    height: 150px;
    width: 150px;
}

.meditation__block-content{
    display: inline-block;
    padding: 10px;
    float: left;
}

.meditation__block-content > h3{
    font-size: 18px;
}

.meditation__block-content > h4{
    font-size: 14px;
}

.meditation__block-content > h4{
    color: #a085df;
}

.meditation__block:hover{
    background-color: rgba(110, 88, 177, 0.9);
}

.meditation__block:hover > .meditation__block-content > h3, .meditation__block:hover > .meditation__block-content > p{
    color: white;
}

.meditation__audio{
    visibility: hidden;
}

#meditation__footer{
    background-color: #6E58B1;
    padding: 10px 20px;
}

#meditation__footer > img{
    height: 130px;
    display: inline-block;
    float: left;
    margin-right: 50px;
}

#meditation__footer > h2{
    color: white;
}

#meditation__footer > h3{
    color: #a085df;
}

#meditation__block-image-breathingawareness{
    height: 400px;
}

@media only screen and (max-width: 1300px){
    #meditation__block-image-breathingawareness{
        height: 250px;
    }
}