.profile-banner{
    color: white;
    background-color: pink;
    font-size: 30pt;
    display: inline-block;
    float: left;
    padding: 10pt;
}

.profile-banner > img{
    width: 30pt;
}

.profile-banner > p > span{
    display: block;
    line-height: 1.0;
    transform: rotate(-90deg);
}

.open-quote{
    content: open-quote;
    display: inline-block;
}

.profile-content{
    margin-left: 80px;
}

.profile-content h2{
    margin-top: 0;
}

.profile-subheader{
    color: purple;
    margin: 0;
    font-size: 14pt;
    font-family: Roboto;
}

.profile-description{
    margin-top: 20px;
    font-size: 18pt;
}

.alumni-profile img{
    max-width: 100%;
}