.tasty__video_container{
    display: flex;
}

.tasty__banner{
    display: inline-block;
    color: white;
    float: left;
    position: relative;
    width: 50pt;
    padding: 5pt 10pt;
}

.tasty__banner_content{
    position: absolute;
    bottom: 5pt;
}

.tasty__banner  p{
    font-size: 30pt;
}

.tasty__banner span{
    display: block;
    /* line-height: 1.0; */
    transform: rotate(-90deg);
}

.tasty__banner img{
    width: 30pt;
}

.tasty__video{
    display: inline-block;
    width: 89%;
}

.tasty__recipe_icon{
    max-height: 25pt;
}

.tasty__recipe_link{
    margin-top: 20px;
    border: none;
    border-radius: 0;
    background-color: #6E58B1;
    color: white;
    box-shadow: -5px 5px 0px #B9A4F8;
}

.tasty__recipe_link:hover{
    background-color: #A085DF;
    color: white;
}

.dark-purple{
    color: #6E58B1;
}

