.tasty__video_container{
    display: flex;
}

.tasty__banner{
    display: inline-block;
    color: white;
    float: left;
    position: relative;
    height: 350px;
    width: 50pt;
    padding: 5pt 10pt;
}

.tasty__banner_content{
    position: absolute;
    bottom: 5pt;
}

.tasty__banner  p{
    font-size: 30pt;
    margin-bottom: 40px;
}

.tasty__banner span{
    margin-bottom: -30px;
    text-align: center;
    display: block;
    /* line-height: 1.0; */
    transform: rotate(-90deg);
}

.tasty__banner img{
    width: 30pt;
}

.social__media{
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: white;
}

.tasty__video{
    display: inline-block;
    width: 89%;
}

.tasty__recipe_container{
    position: relative;
    background-color: white;
}

.tasty__recipe_container::after{
    content: " ";
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 40%;
    height: 40px;
    background-color: transparent;
}

.tasty__recipe_container img{
    max-width: 100%;
}

.tasty__recipe_icon{
    max-height: 25pt;
    margin-top: 0;
    margin-right: 10px;
}

.tasty__recipe-link{
    margin-top: 20px;
    border: none;
    border-radius: 0;
    color: white;
    box-shadow: -5px 5px 0px #B9A4F8;
}

.tasty__recipe_link:hover{
    background-color: #A085DF;
    color: white;
}

.tasty__ingredients{
    font-size: 18pt;
    font-weight: 400;
}

ul.tasty__ingredients > li{
    list-style-type: none;
}

.col-lg-7.tasty__recipe-column{
    padding-left: 0;
    padding-right: 0;
}

.tasty__recipe-blue{
    color: white;
    background: rgba(58,200,233, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 10px;
}

.tasty__recipe-purple{
    color: white;
    background: rgba(110,88,177, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 10px;

}

.tasty__recipe-purple li{
    margin-bottom: 5px;
}

.tasty__recipe-btn{
    border: none;
    border-radius: 0px;
    color: white;
}

.tasty__recipe-img{
    margin-top: 30px;
}

.dark-purple{
    color: #6E58B1;
}

.dark-purple-bg{
    background-color: #6E58B1;
}

a.dark-purple-bg:hover{
    background-color: #A085DF;
}

.dark-purple-shadow{
    box-shadow: -5px 5px 0px #6E58B1;
}

.med-purple{
    color: #A085DF;
}

.light-purple{
    color: #B9A4F8;
}

.light-purple-bg{
    background-color: #B9A4F8;
}

.light-purple-shadow{
    box-shadow: -5px 5px 0 #B9A4F8;
}

.dark-blue{
    color: #0FBDEC;
}

.dark-blue-bg{
    background-color: #0FBDEC;
}

.dark-blue-shadow{
    box-shadow: -5px 5px 0px #0FBDEC;
}

.med-blue{
    color: #3AC8E9;
}

.med-blue-bg{
    background-color: #3AC8E9;
}

.med-blue-shadow{
    box-shadow: -5px 5px 0px #3AC8E9;
}

.light-blue{
    color: #66D5EE;
}

.light-blue-bg{
    background-color: #66D5EE;
}

.light-blue-shadow{
    box-shadow: -5px 5px 0px #66D5EE;
}
