#admin-main{
    max-width: 1000px;
    margin: 0 auto;
}

#approved{
    float: left;
}

.display-column{
    display: inline-block;
    width: 49%;
    outline: 1px solid black;
}

.display-list > li{
    margin-bottom: 10px;
}

.btn-moderate{
    color: white;
}

.btn-remove{
    color: black;
}

.btn-approve{
    background-color: green;
}

.btn-delete{
    background-color: red;
}