<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../global/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../global/css/infographics.css">
        <script src="../global/js/jquery-3.2.1.min.js"></script>
        <script src="../global/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            
        </header>
        <main>
            <div class="container">
                <div class="infographic">
                    <div class="infographic__banner">
                        <p>
                            <span>C</span>
                            <span>I</span>
                            <span>H</span>
                            <span>P</span>
                            <span>A</span>
                            <span>R</span>
                            <span>G</span>
                            <span>O</span>
                            <span>F</span>
                            <span>N</span>
                            <span>I</span>
                        </p>
                        <img src="" alt="Infographic icon">
                    </div>
                    <div class="row">
                        <div id="infographic__column-1" class="col-lg-4 infographic__column">
                            <div class="infographic__block">
                                <div class="infographic__block-content">
                                    <h3>header</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                            <div class="infographic__block">
                                <div class="infographic__block-content">
                                    <h3>header</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="infographic__column-2" class="col-lg-4 infographic__column">
                            <div class="infographic__block">
                                <div class="infographic__block-content">
                                    <h3>header</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                            <div id="infographic__header">
                                <h2 class="text-center">[title]</h2>
                                <p class="text-center">[supporting text]</p>
                            </div>
                            <div class="infographic__block">
                                <div class="infographic__block-content">
                                    <h3>header</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="infographic__column-3" class="col-lg-4 infographic__column">
                            <div class="infographic__block">
                                <div class="infographic__block-content">
                                    <h3>header</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                            <div class="infographic__block">
                                <div class="infographic__block-content">
                                    <h3>header</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>